/*
=====================================================================
*   Layout Stylesheet (cleaned)
===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Sometype+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Cormorant+Infant:ital,wght@0,300;0,400;1,400&family=EB+Garamond:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,300;0,400;1,300&family=Inconsolata:wght@300;400&family=Merriweather&family=Noto+Serif:ital,wght@0,300;0,400;1,300&family=Old+Standard+TT&family=PT+Mono&family=Sometype+Mono&family=Source+Serif+4:ital,opsz,wght@0,8..60,300;0,8..60,400;1,8..60,300&family=Space+Mono:ital@0;1&family=VT323&family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Xanh+Mono:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mate:ital@0;1&display=swap");

body {
  background: #fff;
}

.no-scroll {
  overflow-x: hidden !important;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.react-draggable {
  width: min-content;
  height: min-content;
}

header#home {
  position: relative;
  min-height: 701px;
  width: 100%;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

img#headerpic {
  width: auto;
  overflow: hidden;
}

.container {
  color: white;
  position: relative;
}

.top-left {
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 17px;
  text-align: left;
  padding-top: 10px;
  font-weight: 700;
  background: none;
  line-height: 9px;
}

.top-left:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.bottom-right {
  position: absolute;
  right: 15px;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: black;
  text-align: left;
  padding-top: 10px;
  font-weight: 700;
  background: none;
  line-height: 9px;
  z-index: 1000;
  transition: 0.2s ease-in-out;
}

.bottom-leftt:hover,
.bottom-right:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.bottom-leftt {
  position: absolute;
  left: 15px;
  font-family: "Cormorant Garamond";
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: black;
  text-align: left;
  padding-top: 10px;
  font-weight: 700;
  background: none;
  line-height: 9px;
  z-index: 1000;
  transition: 0.2s ease-in-out;
}

.bottom-left-2 {
  position: absolute;
  top: 15px;
  right: 15px;
  font: 16px "Cormorant Garamond";
  letter-spacing: 1.5px;
  text-align: left;
  width: auto;
  color: #212121;
  font-weight: 700;
  cursor: default;
  z-index: 1000;
}

#play-button {
  color: rgb(43, 43, 43) !important;
  cursor: pointer;
  font-size: 19px;
}

#play-button::selection {
  color: white !important;
}

#play-button i::selection {
  color: white !important;
}

.fa-play::selection {
  background-color: white !important;
}

.banner:hover div.top-left span#play-button:after {
  width: 23%;
  color: rgb(43, 43, 43) !important;
}

header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* ------------------------------------------------------------------ */
/* c. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  height: 100%;
  border: 0.5px solid black;
}

a.collab:hover {
  text-decoration: underline;
}

#portfolio h2 {
  font: 30px/36px "Cormorant Garamond", serif;
  font-weight: 500;
  color: rgb(53, 53, 53);
  text-align: center;
  margin-bottom: -15px;
  margin-right: 20px;
  background: #ffffff;
  z-index: 1000;
  position: relative;
}

#portfolio h5 {
  font: 12px/12px "Cormorant Garamond", serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#portfolio .tagline {
  background: #ffffff;
  z-index: 1000;
  position: relative;
  width: 370px;
  float: RIGHT;
}

#portfolio-wrapper {
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
}

.portfolio-item .item-wrap {
  background: rgb(255, 255, 255, 0);
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer;
}

.portfolio-item .item-wrap img {
  vertical-align: bottom;
}

.portfolio-item .portfolio-item-meta h5 {
  font: 14px/21px "opensans-bold", sans-serif;
}

.portfolio-item .portfolio-item-meta p {
  font: 11px/18px "opensans-light", sans-serif;
  color: black;
  margin-bottom: 0;
}

/* ------------------------------------------------------------------ */
/* d. Portfolio Tabs (react-web-tabs)
/* ------------------------------------------------------------------ */

.rwt__tablist {
  font-size: 13px;
  padding-left: 30px;
  background-image: url(/images/tabs.png);
  border-bottom: 0.5px solid #111111;
}

.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid rgb(244, 244, 244);
  margin-right: 1rem;
  margin-left: 20px;
}

button.rwt__tab:first-child {
  margin: 10 25px 0 10px !important;
  border-left: 0.5px solid #111111 !important;
}

button#one-tab {
  border-left: 0.5px solid #111111 !important;
}

.rwt__tab[aria-selected="true"] .browserx {
  font-style: italic;
}

.rwt__tab[aria-selected="false"] .browserx {
  display: none;
}

.browsero {
  right: 20px;
  position: absolute;
  color: #424242;
  top: 15px;
  font-size: 25px;
  z-index: 1000;
}

.rwt__tab {
  background: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  font-family: "Cormorant Garamond";
  color: #0d0d0d !important;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  width: 150px;
  border-right: 0.5px solid #111111;
  border-top: 0.5px solid #111111;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0px;
  height: 50px;
  bottom: 0px;
  padding: 0.6rem 0rem;
}

.rwt__tab[aria-selected="false"] {
  color: #0d0d0d !important;
  position: relative;
  bottom: -1px;
}

.rwt__tab[aria-selected="true"] {
  position: relative;
  color: rgb(42, 42, 42) !important;
  border-left: 0.5px solid #111111;
  border-bottom: 1px solid white;
  z-index: 10;
  background: white !important;
  font-weight: 500;
  bottom: -1px;
}

.rwt__tab:hover {
  transform: scale(1.03);
  color: black;
}

.rwt__tabpanel {
  overflow: scroll;
  height: 90.1vh;
  padding: 10px 20px;
}

.rwt__tablist:not([aria-orientation="vertical"])
  .rwt__tab[aria-selected="false"]:hover
  + .rwt__tab[aria-selected="true"]:before {
  width: 0;
}

/* ------------------------------------------------------------------ */
/* e. Hover Effects
/* ------------------------------------------------------------------ */

.hvr-grow:hover {
  transform: scale(1.03) !important;
}

.hvr-shade:hover {
  background: rgb(223, 223, 223) !important;
}

.hvr-line:hover {
  text-decoration: underline !important;
}

/* ------------------------------------------------------------------ */
/* f. Other Components
/* ------------------------------------------------------------------ */

.special-links {
  color: inherit !important;
  text-decoration: underline;
}

.hover-container {
  position: relative;
  display: block;
  background-image: url("../images/bgfinal.png");
  background-size: cover;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100vh;
  border: 0.5px solid black;
}

.hover-text {
  visibility: hidden;
  color: rgb(40, 40, 40);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40%;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: montserrat;
  cursor: default;
  font-size: 60px;
  width: 100%;
  pointer-events: none;
  user-select: none;
  font-family: "Source Serif 4", serif;
}

.bottom-left {
  position: absolute;
  top: 15px;
  right: 15px;
  font: 19px "Cormorant Garamond";
  letter-spacing: 1.5px;
  text-align: left;
  width: auto;
  color: #212121;
  font-weight: 700;
  cursor: default;
}

.hover-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.draggableImage {
  margin-top: 1%;
}

/* Default responsive behavior */
#mobile-only {
  display: none;
}

#desktop-only {
  display: block;
}
